body {
        background-image: url("image1.jpg");
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
    }

    .navbar {
      background: linear-gradient(90deg, rgb(40, 98, 105), rgb(34, 125, 137));
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .navbar-brand {
      font-weight: bold;
      font-size: 1.5rem;
      color: #ffffff;
    }

    .navbar-nav .nav-link {
      color: #ffffff;
      margin-right: 15px;
      transition: color 0.3s ease;
    }

    .navbar-nav .nav-link:hover {
      color: #ffdd57;
    }

    .navbar-nav .nav-link.active {
      color: #ffdd57;
      font-weight: 600;
      border-bottom: 2px solid #ffdd57;
    }

    .navbar-toggler {
      border-color: rgba(255, 255, 255, 0.5);
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  h1{
 text-align: left;
 margin-top: 100px;

  }
  p{

   text-align: left;
   margin-top: 100; 
  }
