<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa ea ut iste tenetur 
   dolor magnam eum? Dolores, eligendi consectetur?
    Quibusdam consequatur vero aliquam, eum excepturi dolor non rerum sapiente dolorum! 


    <button onclick="back()">Back</button>


    
    
    <script src="../js/index.js"></script>
    


</body>
</html>