body{

    background-color:url('/Lab\ Class-2/image/Scenery.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

p{

    background-color:url('/Lab\ Class-2/');
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: tan;
    text-align:justify;


}
 a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

  img{
 
   /* display: block;
    margin: auto;*/
float: right;

  }