table ,tr,td{
    background-color: rgb(183,235,231);
border:1px solid green;
border-radius: 20%;
width: 50%;
height: 100px;
flex: content;
margin-left:auto;
margin-right:auto;
padding: 20px;
}
tr,td{
    border:1px solid green;
    border-radius: 20%;
    
    }

    tr:nth-child(even){

      background-color: rgb(183,235,231);  
    }
    .test{

background-color:rosybrown;
border-radius: 30%;
color:black;
width: 300px;
height: 300px;
float: left;
padding: 40px;
margin: 20px;

    }

#myspan{
color: blueviolet;

    }

.center{
display:flex;
margin-bottom: auto;
background-color: brown;

    }
